*, *::before, *::after {
  box-sizing: border-box;
  font-family: Lato;
}

body {
    background-image: url("100-Floors-of-Frights-Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #f2720a;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-body {
    color: black;
    font-size: larger;
    font-weight: bold;
  }

  .life-stats {
      font-size: x-large;
      font-weight: bold;
      color: white;
      padding: 30px 0 0 0;
  }

 /* This is for the quiz */

 .body.quiz {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
 }

 .container {
   width: 500px;
   max-width: 80%;
   background-color: white;
   border-radius: 5px;
   padding: 10px;
   box-shadow: 0 0 10px 2px;
 }

 .btn-grid {
   display: grid;
   margin: 20px 0;
 }